<div th:fragment="html">

    <!--判断输入的账号密码是否为空，判断登录后返回的结果是否有错误 -->
    <script>

        $(function () {
            var dataValue={
                uri:'foreregister',
                result:[],
                user:{name:'',password:'',repeatpassword:''}
            }


            var vue=new Vue({
                el:'#workingArea',
                data:dataValue,
                mounted:function () {
                    //默认链接
                    linkDefaultActions();
                },
                methods:{

                    //登录函数。
                    register:function () {

                        var url=this.uri;


                        //判断是否输入了用户名
                        if (0==this.user.name.length){
                            $("span.errorMessage").html("请输入用户名")
                            //使得该下面的内容可见
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return

                        }

                        //判断密码是否已经输入
                        if (0==this.user.password.length){
                            $("span.errorMessage").html("请输入密码")
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return
                        }
                        //判断，第一次和第二次输入的密码是否相同
                        if (this.user.password!=this.user.repeatpassword){
                            $("span.errorMessage").html("两次输入的密码不同，请重新输入");
                            $("div.registerErrorMessageDiv").css("visibility","visible");

                            return ;
                        }

                        axios.post(url,this.user).then(function (value) {
                            this.result=value.data;
                            if (result.code==0){
                                //注册成功 ，跳转至注册成功页面
                                location.href="registerSuccess";
                            }else {
                                $("span.errorMessage").html(result.message);
                                $("div.registerErrorMessageDiv").css("visibility","visible");
                            }
                        })


                    }
                }

            })

        })


    </script>



    <div class="registerDiv">
        <div class="registerErrorMessageDiv">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span class="errorMessage"></span>
            </div>
        </div>

        <table class="registerTable" align="center">
            <tr>
                <td  class="registerTip registerTableLeftTD">设置会员名</td>
                <td></td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">登陆名</td>
                <td  class="registerTableRightTD"><input v-model="user.name" placeholder="会员名一旦设置成功，无法修改" > </td>
            </tr>
            <tr>
                <td  class="registerTip registerTableLeftTD">设置登陆密码</td>
                <td  class="registerTableRightTD">登陆时验证，保护账号信息</td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">登陆密码</td>
                <td class="registerTableRightTD"><input v-model="user.password"  type="password"  placeholder="设置你的登陆密码" > </td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">密码确认</td>
                <td class="registerTableRightTD"><input v-model="user.repeatpassword"   type="password"  placeholder="请再次输入你的密码" > </td>
            </tr>

            <tr>
                <td colspan="2" class="registerButtonTD">
                    <a @click="register"><button>提   交</button></a>
                </td>
            </tr>
        </table>
    </div>
</div>